.App {
    width: 70vw;
    margin: auto;
    min-height: 100vh;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text {
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bal {
    height: 30px;
    width: 120px;
    background-color: rgb(221, 220, 220);
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.add-button {  
    font-weight: 500;  
    font-size: 17px;
    background-color: black;
    color: white;
    border-radius: 20px;    
    width: 120px;
    height: 50px;
    margin: 15px 0;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
}

.movie {
    box-shadow: rgb(204, 199, 199) 4px 4px 8px;
    min-height: 550px;
    width: 350px;
    margin: 20px 0;    
    padding-bottom: 10px;
} 

.movie img {
    width: 100%;
    height: 300px;
}

.movie-body {
    margin: 10px;
}

.movie-name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.movie-name span {
    font-size: 13px;
    font-weight: normal;
}

.movie-details {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.detail div {
    text-align: center;
}

.detail-2 img {
    height: 40px;
    width: 40px;
}

.watch-button {
    width: 150px;
    height: 40px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    border-radius: 15px;
    color: white;
    border: 1px solid black;
}

.rate-text {
    margin: 10px auto;
    width: 95px;    
    text-decoration: underline;
}

.rate-container {
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

.star img {
    width: 35px;
    height: 35px;
    cursor: pointer;   
}